<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Texas Team Handball is starting
                      up a league in the Dallas area this winter. This will be the inaugural year
                      for the TTHBL and we want to gain interest and involvement with the people
                      around North Texas! We are in the works with a predominate site for this
                      league and will be bringing updates accordingly. Spread the word! Please
                      call or email for any questions.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/Olympic-rings.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>August 2016</h4>
                                    <h4 class="subheading">Texas Team Handball is Born</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Ahhh the Olympics. The time when
                                      dreamers dream, fans unite, athletes show what they know,
                                      and nations come together. The Olympics inspired this
                                      dreamer to dream when I watched the glorious game of
                                      handball and realized that North Texas was truly missing
                                      out. Help me fulfill my dream and your own by joining
                                      me on this epic journey in the game of handball.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/cup-of-coffee.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>September 2016</h4>
                                    <h4 class="subheading">Website is Alive</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The next step in our journey
                                      was for a badass website to be created in order
                                      to keep everyone in the loop and stay organized.
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
